* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-white: hsl(0, 0%, 100%);
  --h1-blue: hsl(218, 44%, 22%);
  --p-blue: hsl(220, 15%, 55%);
  --bg-gray: hsl(212, 45%, 89%);
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--bg-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  min-height: 100vh;
}

.card {
  max-width: 350px;
  padding: 1rem;
  background-color: var(--bg-white);
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 0.25rem;
}

.card__image > img {
  width: 100%;
  border-radius: 1rem;
}
.card__content {
  padding: 0.75rem;
}

.card__title {
  color: var(--h1-blue);
  font-size: 23px;
  margin-bottom: 0.5rem;
}

.card__text {
  color: var(--p-blue);
}
